@model BankAppMVC2.ViewModels.KundBildViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "KundBild";
}

@if (Model.FinnsInte)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="text-xl-center font-weight-bold text-danger">Misslyckad sökning!</h6>
        </div>
        <div class="card-body">
            <div class="text-xl-center font-weight-bold text-danger text-uppercase mb-1">
                Kunde inte hitta kund pröva igen
            </div>
        </div>
    </div>
}
else
{




    <section class="py-5">

        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Kund</h6>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Kund Id:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.CustomerId</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Kön:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Gender</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Förnamn:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Givenname</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Efternamn:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Surname</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Adress:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Streetaddress</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Stad:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.City</div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Postnr:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Zipcode</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Land:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Country</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Landskod:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.CountryCode</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Födelsedag:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Birthday</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Person nummer:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.NationalId</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Lands Riktnr:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Telephonecountrycode</div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Telefon nummer:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Telephonenumber</div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Email:
                        </div>
                        <div class="h5 mb-0 font-weight-normal text-gray-600">@Model.Emailaddress</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Konto</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Konto ID</th>
                                    <th scope="col">Frekvens</th>
                                    <th scope="col">Skapad</th>
                                    <th scope="col">Belopp</th>
                                    <th scope="col">Total belopp</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var kund in Model.Konto)
                                {


                                <tr role="button" onclick="location.href = '@Url.Action("KontoBild", "Konto", new { id=kund.AccountId })'">
                                    <td>@kund.AccountId</td>
                                    <td>@kund.Frequency</td>
                                    <td>@kund.Created</td>
                                    <td>@kund.Balance</td>
                                    <td>@Model.SumOfCustomerAccounts</td>

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        @if (User.IsInRole("Admin") || User.IsInRole("Cashier"))
                                        {
                                            <td><a asp-controller="Konto" asp-action="Edit" class="btn btn-outline-warning active" role="button" aria-pressed="true">Ändra i konto</a></td>
                                            <td><a asp-controller="Konto" asp-action="Delete" class="btn btn-outline-dark active" role="button" aria-pressed="true">Radera konto</a></td>
                                        }
                                    }


                                </tr>

                                }
                            </tbody>
                        </table>
                        <a asp-controller="Konto" asp-action="New" class="btn btn-outline-primary active" role="button" aria-pressed="true">Skapa nytt konto</a>

                    </div>

                </div>

            </div>
        </div>
    </section>}
